{% extends 'base.html' %}

{% block title %}
    
{% endblock  %}


{% block body %}
    <div class="container">
        <div class="card bg-dark text-white">
            <img src="../static/image/Blank.png" class="card-img" alt="..." height="550">
            <div class="card-img-overlay">
              <h5 class="card-title mt-10">Fiery Dancers</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, consectetur.</p>
              <p class="card-text"></p>
            </div>
          </div>
    </div>
    <div class="container">
      <div class="card ">
        <div class="card-body rounded" style="background-color: pink;">
          <div class="display-3 text-center p-3" >Why Should you learn to Dance ?</div>
        </div>
      
      <div class="row">
        <div class="card-group">
        <div class="col-md-4">
          <div class="card">
            <img src="../static/image/improve-pos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Improved Posture</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../static/image/grace.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gracefulness & Rhythm</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../static/image/Flexibility.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Increased Flexibility</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body rounded" style="background-color: pink;">
    <div class="display-5 text-center p-3" >Dance to Express Not to Impress ..</div>
  </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="card-group">
        <div class="col-md-6">
          <div class="card">
            <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9dxKzD8uM9A?start=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      
{% endblock  %}